@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,300;0,500;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background: #e3f1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: .5s;
}

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: white;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0);
}

section .container .signinBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .signupBx {
    display: none;
    pointer-events: none;
}

section .container .signinBx .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    transition: .5s;
}

section .container .signinBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .signinBx .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: .5s;
}

section .container .signinBx .formBx {}

section .container .signinBx .formBx h2 {
    font-size: 18px;
    font-weight: 500px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

section .container .signinBx .formBx input {
    width: 100%;
    padding: 10px;
    background: rgb(226, 226, 226);
    color: black;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container .signinBx .formBx input[type="submit"] {
    max-width: 100px;
    background: #577ef5;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .5s;
}

section .container .signupBx .formBx input[type="submit"] {
    max-width: 100px;
    background: orange;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .5s;
}


/* section .container .signinBx .formBx input[type="submit"]:hover {
    background: white;
    color: #577ef5;
    border: 2px;
    border-color: #577ef5;
    transition: .8s;
} */

section .container .signinBx .formBx .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .container .signinBx .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #577ef5;
}